*.pdb
*.cache
*.gha
*.xml
Bumblebee/obj/Debug/Bumblebee.csproj.FileListAbsolute.txt
.vs/Aviary/v14/.suo
.vs/Aviary/v14/.suo
.vs/Aviary/v14/.suo
.vs/Aviary/v15
/packages/*
!/packages/Potrace-Vectorization.2.0.0/
bin/
obj/
*/obj
*/bin
Debug/
/Debug
