<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.4.1" targetFramework="net45" />
  <package id="Eto.Platform.Windows" version="2.4.1" targetFramework="net45" />
  <package id="Eto.Serialization.Xaml" version="2.4.1" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="3.4.0" targetFramework="net45" />
  <package id="Grasshopper" version="6.8.18240.20051" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="2.4.1.1101" targetFramework="net45" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net45" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net45" />
  <package id="Portable.Xaml" version="0.21.0" targetFramework="net45" />
  <package id="RhinoCommon" version="6.8.18240.20051" targetFramework="net45" />
  <package id="RhinoWindows" version="6.8.18240.20051" targetFramework="net45" />
  <package id="System.Collections" version="4.3.0" targetFramework="net45" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net45" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net45" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net45" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="net45" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net45" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net45" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net45" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net45" />
  <package id="System.IO" version="4.3.0" targetFramework="net45" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net45" />
  <package id="System.Linq" version="4.3.0" targetFramework="net45" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net45" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net45" />
  <package id="System.Net.Primitives" version="4.3.0" targetFramework="net45" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net45" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net45" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net45" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net45" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net45" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net45" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net45" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net45" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net45" />
  <package id="System.Threading" version="4.3.0" targetFramework="net45" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net45" />
  <package id="System.Xml.ReaderWriter" version="4.3.0" targetFramework="net45" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net45" />
  <package id="Xceed.Products.Wpf.DataGrid.Full" version="6.6.18313.21330" targetFramework="net45" />
  <package id="Xceed.Wpf.Controls" version="6.6.18313.21330" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid" version="6.6.18313.21330" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.1" version="6.6.18313.21330" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.2" version="6.6.18313.21330" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.3" version="6.6.18313.21330" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.4" version="6.6.18313.21330" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.ThemePack.5" version="6.6.18313.21330" targetFramework="net45" />
  <package id="Xceed.Wpf.DataGrid.Views3D" version="6.6.18313.21330" targetFramework="net45" />
</packages>